.worker {
  --cl-1: 63, 85%, 89%;
  --cl-2: 335, 34%, 61%;
  --cl-3: 334.55deg, 33.33%, 61.18%;
  --cl-4: 334.55deg, 100%, 91.64%;
  --hue: 232;
  --saturation: 15%;
  --color-start: 6%;
  --color-step: 4%;
  --color-base: var(--hue), var(--saturation);
  --color-2: var(--color-base), calc(var(--color-start) + var(--color-step) * 3);
  --colour-1: 130, calc(var(--saturation) - 5%), calc(21% + 20%);
  --colour-2: 130, calc(var(--saturation) - 5%), calc(25% + 20%);
  --colour-3: 130, calc(var(--saturation) - 5%), calc(50% + 20%);
  --test-1: 130, calc(var(--saturation) - 5%), calc(50% + 20%);
  --test-2: 130, calc(var(--saturation) - 5%), calc(57% + 20%);
  --pad-1: 0.3em 0.8em;
  --gap-1: 0.5em;
  --brs-1: 0.4em;
  display: flex;
  justify-content: center;
  padding: 15px;
}
.name__id {
  display: flex;
  align-items: center;
}
.worker__inner {
  padding: 15px;
  background-color: hsl(var(--color-2));
  align-items: center;
  text-align: center;
  border-radius: var(--brs-1);
}
.position__inner {
  display: flex;
  align-items: center;
  gap: 2px;
  padding: var(--pad-1);
  color: hsl(var(--test-1));
  background: hsl(var(--colour-1));
  border-radius: var(--brs-1);
  font-size: calc(7em / 10);
  box-shadow: 0 0 0.5em hsl(var(--colour-1), 0.4),
    0 0 2em hsl(var(--colour-1), 0.4);
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
}
.icon-check:before {
  content: "✔";
}
.name__id {
  /* filter: drop-shadow(0 0.1em 0.5em hsl(var(--cl-1), 0.6)); */
  color: hsl(var(--cl-1));
}

.name__id span {
  opacity: 0.6;
  width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.position_w_name {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
}
.salary span {
  width: 140px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.line-horizontal {
  --colour-1: var(--color-3);
  background: hsl(var(--colour-1));
  height: 2px;
  width: 100%;
}
.date {
  display: flex;
  justify-content: space-between;
}
.start__date,
.end__date {
  display: flex;
  flex-direction: column;
}
.organization {
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-1);
  padding: 5px;
}
.organization__annualTurnover {
  margin-left: auto;
}
.worker__id {
  filter: drop-shadow(0 0.1em 0.5em hsl(var(--cl-1), 0.6));
  color: hsl(var(--cl-1));
}
.date {
  position: inherit;
}
.date-new:after {
  background: hsl(var(--ascend-1));
  border-radius: 1em;
  bottom: 0px;
  box-shadow: 0 0 1em;
  content: "";
  height: 1px;
  left: 0;
  position: relative;
  right: -0.4em;
  transform: translateY(100%);
}
.salary {
  display: flex;
  justify-content: space-around;
}
.cont {
  position: relative;
  width: 1350px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}
.organization__id,
.organization__name {
  display: flex;
}
.coordinate {
  width: 180px;
  display: flex;
  gap: 5px;
}
.coordinate__x,
.coordinate__y {
  width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.filter input[type="number"],
.filter input[type="text"],
.filter textarea {
  -moz-appearance: textfield;
  background: inherit;
  border: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  outline: 0;
}

.filter input[type="text"],
.filter input[type="number"],
.filter textarea {
  -moz-appearance: textfield;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  background: inherit;
  outline: 0;
  border: 0;
  margin-left: 10px;
  padding: 5px;
  margin-right: 25px;
  margin-left: 15px;
}
.filters .filter {
  background: hsl(var(--color-2));
}
.filter {
  padding: 25px;
  border-radius: 10px;
}
.filters {
  --cl-1: 63, 85%, 89%;
  --cl-2: 335, 34%, 61%;
  --cl-3: 334.55deg, 33.33%, 61.18%;
  --cl-4: 334.55deg, 100%, 91.64%;
  --hue: 232;
  --saturation: 15%;
  --color-start: 6%;
  --color-step: 4%;
  --bstep-1: 5;
  --step-1: var(--bstep-1);
  --color-2: var(--color-base), calc(var(--color-start) + var(--color-step) * 3);
  --clr-1: var(--hue), var(--saturation),
    calc(var(--color-start) + var(--color-step) * var(--step-1));
  position: relative;
  width: 1350px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.txt-nowrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sort {
  height: 50px;
  display: flex;
  gap: 15px;
  width: 1305px;
}
.outer {
  position: relative;
  background: hsl(var(--clr-1));
  height: 50px;
  display: flex;
  gap: 15px;
  width: 350px;
  padding: 10px;
  border-radius: 10px;
}
.query__filter,
.id__filter,
.name__filter,
.x__filter,
.y__filter,
.creationDate__filter,
.salary__filter,
.startDate__filter,
.endDate__filter,
.position__filter,
.Organization__id__filter,
.Organization__name__filter,
.Organization__annualTurnover__filter {
  display: flex;
  justify-content: center;
  /* background-color: hsl(var(--clr-1)); */
  width: 100%;
  position: relative;
}
.input-v3:before {
  width: 100%;
  content: "";
  position: absolute;
  top: 0px;
  left: -15px;
  right: 0px;
  bottom: 0px;
  /* background: hsl(var(--clr-1)); */
  border-radius: 5px;
  outline: 2px solid hsl(var(--brdr-1));
  transition: var(--animation-2) ease;
  transition-property: background, border, outline, top, left, right, bottom,
    opacity;
  padding-right: 15px;
}
.input-v5:before {
  width: 100%;
  content: "";
  position: absolute;
  top: 0px;
  left: -15px;
  right: 0px;
  bottom: 0px;
  background: hsl(var(--clr-1));
  border-radius: 5px;
  outline: 2px solid hsl(var(--brdr-1));
  transition: var(--animation-2) ease;
  transition-property: background, border, outline, top, left, right, bottom,
    opacity;
  padding-right: 15px;
}
.input__filter {
  width: 100%;
  position: absolute;
  display: flex;
  justify-items: center;
  align-items: center;
  height: 100%;
}
.filter_flex {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}
.pagination__arr {
  display: flex;
  justify-content: center;
  width: 1350px;
  margin: 0 auto;
  height: 50px;
  text-align: center;
  align-items: center;
}
.left,
.right {
  margin-top: 10px;
  background: hsl(var(--color-2));
  width: 50px;
  padding-bottom: 10px;
  border-radius: 10px;
}
.right .click,
.left .click {
  cursor: pointer;
  transition: var(--animation-2) ease;
  transition-property: transform, color, background, text-shadow, opacity,
    filter !important;
  font-style: normal;
}
.right .click:hover,
.left .click:hover {
  transform: scale(1.2);
  opacity: 1;
}
.click-dsb {
  background: hsl(var(--colour-2));
}
.mrT-10 {
  margin-top: 40px;
}
.statistics .img-error {
  width: 200px;
  height: 237px;
  opacity: 0.6;
  background: url("../mp3f/prepare.png");
}
.statistics .img-error2 {
  width: 150px;
  height: 200px;
  opacity: 0.6;
  background: url("../mp3f/undefined3.png");
}
.source-v2 img {
  filter: saturate(0.4);
  transition: transform var(--animation-4) ease;
  transform: scale(var(--scale2));
}
.icon-stack:before {
  content: "\e92e";
}
[class^="icon-"],
[class*=" icon-"] {
  margin-right: 5px;
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 2;
  -webkit-font-smoothing: antialiased;
}
.icon-spetc {
  margin-right: 5px;
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-location:before {
  content: "\e947";
}
.icon-location2:before {
  content: "\e948";
}
.icon-user:before {
  content: "\e971";
}
.icon-briefcase:before {
  content: "\e9ae";
}
.icon-accessibility:before {
  content: "\e9b2";
}
.icon-baffled:before {
  content: "\e9f3";
}
.icon-neutral:before {
  content: "\e9f7";
}
.icon-arrow-up-right2:before {
  content: "\ea3b";
}
.icon-embed:before {
  content: "\ea7f";
}
.icon-flickr4:before {
  content: "\eaa6";
}
.icon-libreoffice:before {
  content: "\eae3";
}
.org__name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.date {
  margin-top: 10px;
}
.creation_date {
  margin-top: 10px;
}
.paintsvg {
  --cl-1: 63, 85%, 89%;
  margin-top: 50xp;
  padding: 16px;
  height: 56px;
  font-size: 30px;
  filter: drop-shadow(0 0.1em 0.5em hsl(var(--cl-1), 0.6));
  color: hsl(var(--cl-1));
  opacity: 0.7;
}
.paintsvg:hover {
  opacity: 0.9;
}
.worker:hover {
  opacity: 0.5;
}
/* .worker:before {
  content: "";
  position: absolute;
  opacity: 0.5;
} */
/* .worker:before {
  top: 10px;
  /* bottom: 0; */
/* left: 120px;
  content: "Update";
  position: absolute;
  opacity: 0.5;
  font-size: 232px; */
/* border: 54px; */
/* outline: 1px solid red; */
/* border-radius: 50%; */
/* height: 50px; */
/* width: 50px; */
/* margin-top: -12px; */
/* }  */

input[type="text"],
input[type="number"],
textarea {
  margin-bottom: 5px;
  -moz-appearance: textfield;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  background: inherit;
  outline: 0;
  /* border: 0; */
  /* margin-left: 10px; */
  /* padding: 5px;
  margin-right: 25px;
  margin-left: 15px; */
}
.modal-overlay {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  padding: 20px;
  border-radius: 5px;
  /* box-shadow: inset 0px -20px 20px 20px rgba(0, 0, 0, 0.3); */
  outline: 2px solid;
}

.modal button {
  margin: 10px;
  padding: 17px;
  font-size: 20px;
  font-family: inherit;
  background-color: hsl(var(--color-2));
  /* align-items: center; */
  /* text-align: center; */
  border-radius: var(--brs-1);
  color: #707489;
  border: -4px;
  border-radius: 20px;
}
::placeholder {
  color: #707489;
}
/* .input-v3.-focus:not(.-hehe) {
  --step-1: calc(var(--bstep-1) - 1);
  --step-2: calc(var(--bstep-2) - 1);
  --opacity: 1;
} */

.outer:not(.-iNON):before {
  /* width: 100%; */
  background: hsl(var(--color-2));
  border-radius: 15px;
  bottom: 0;
  content: "";
  left: 0;
  outline: 2px solid hsl(var(--text-5));
  position: absolute;
  right: 0;
  top: 0;
  transition: var(--animation-2) ease;
  transition-property: background, border, outline, top, left, right, bottom,
    opacity;
}
/* .input-v3:before {
  width: 100%;
  content: "";
  position: absolute;
  top: 0px;
  left: -15px;
  right: 0px;
  bottom: 0px;
  background: hsl(var(--clr-1));
  border-radius: 5px;
  outline: 2px solid red;
  transition: var(--animation-2) ease;
  transition-property: background, border, outline, top, left, right, bottom,
  opacity;
  padding-right: 22px;
  padding-left: -20px;
  margin-top: -7px;
  margin-bottom: -8px;
  /* margin-right: -75px; } */
.but_wrap {
  justify-content: space-around;
  display: flex;
}
.but_wrap > .click {
  cursor: pointer;
  transition: var(--animation-2) ease;
  transition-property: transform, color, background, text-shadow, opacity,
    filter !important;
  font-style: normal;
}
.but_wrap > .click:hover {
  transform: scale(1.2);
  opacity: 1;
}
.create-worker-form {
  /* position: absolute; */
  justify-content: center;
  z-index: 1;
  position: fixed;
  padding-top: 25%;
  padding-left: 40%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}
.create-worker-form input[type="text"],
.create-worker-form input[type="number"],
.create-worker-form input[type="date"],
.create-worker-form textarea {
  height: 50px;
  margin-bottom: 5px;
  -moz-appearance: textfield;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  background: inherit;
  /* outline: 0; */
  /* border: 0; */
  margin-left: 10px;
  padding: 5px;
  margin-right: 25px;
  margin-left: 15px;
}
.create-worker-form button {
  margin: 10px;
  padding: 17px;
  font-size: 20px;
  font-family: inherit;
  background-color: hsl(var(--color-2));
  align-items: center;
  text-align: center;
  border-radius: var(--brs-1);
  color: #707489;
  border: -4px;
  border-radius: 20px;
}
